.logo {
  max-width: 200px;
  margin-top: 120px;
  padding-bottom: 20px;
}

.slashes {
  color: #33C3F0;
}

.me {
  width: 250px;
}

button {
  transition: all .4s ease;
}

button:hover {
  background-color: : #33C3F0;
}

@media screen and (max-width: 900px) {
  .mobile {
    margin-top: 10% !important;
  }
}
